root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false
indent_style = space
indent_size = 4
tab_width = 4

[*.{cs,csproj,sln,props,targets,md,json,yml,yaml,xml,txt}]
charset = utf-8

[*.cs]
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

csharp_style_namespace_declarations = file_scoped:warning
csharp_prefer_braces = true:suggestion
csharp_style_prefer_primary_constructors = false:suggestion

dotnet_style_qualification_for_event = false:warning
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_property = false:warning

dotnet_style_predefined_type_for_locals_parameters_members = true:warning
dotnet_style_predefined_type_for_member_access = true:warning

dotnet_diagnostic.IDE0040.severity = warning
dotnet_diagnostic.IDE0055.severity = suggestion
dotnet_diagnostic.IDE0161.severity = warning
dotnet_diagnostic.IDE1006.severity = warning
